<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}"> {{ partial "head.html" . }}
<body>
    <header id="post-home">
        <a href="{{ .Site.BaseURL }}">Home</a>
    </header>
    <aside id="post-nav">
        <div class="post-menu">
            <a href="javascript:void(0)" id="menu-toc"><i class="fas fa-bars fa-lg"></i></a>
            <a href="javascript:void(0)" id="menu-top"><i class="fas fa-angle-double-up fa-lg"></i></a>
            <i id="menu-tip"></i>
        </div>
        {{ partial "toc.html" . }}
    </aside>
    <main class="content">
        <link rel="stylesheet" href="/css/post.css?{{ now.Unix }}" />
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <header>
                <h1 class="post-title" itemprop="name headline">{{ .Title | markdownify }}</h1>
                <div class="post-meta">
                    <section class="post-date">
                        <time datetime="{{ .PublishDate }}" itemprop="datePublished">{{ .Date.Format "2006-01-02" }}</time>
                    </section>
                    {{ if .Param "tags" }}
                    <section class="post-tags">
                        <i class="fas fa-tag"></i>
                        {{ range .Param "tags" }}
                        {{ $name := . }} {{ with $.Site.GetPage (printf "/%s/%s" "tags" ($name | urlize)) }}
                        <a class="tag-link" href="{{ .Permalink }}">{{ $name }}</a>
                        {{ end }}
                        {{ end }}
                    </section>
                    {{ end }}
                </div>
            </header>
            <section class="post-content" itemprop="articleBody">{{ .Content }}</section>
        </article>
        {{if ne .Site.Params.utterancesRepo "" }}
        <div>
            <script
                src="https://utteranc.es/client.js"
                repo="{{.Site.Params.utterancesRepo}}"
                issue-term="pathname"
                label="comment"
                theme="github-light"
                crossorigin="anonymous"
                async
            ></script>
        </div>
        {{end}} {{ partial "footer.html" . }}
    </main>
    <script src="/js/post.js?{{ now.Unix }}"></script>
</body>
