<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="{{ default .Summary .Description }}" />
    <link rel="stylesheet" type="text/css" href="/css/global.css?{{ now.Unix }}" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.nav.js"></script>
    <link rel="icon" href="{{ "favicon.svg" | relURL }}" type="image/x-icon">
    <title>
        {{- if eq .RelPermalink "/" }} {{ .Site.Title }} {{- else }} {{ .Title }} &middot; {{ .Site.Title }} {{- end }}
    </title>
</head>
