{{ define "main" }}

<section id="about">
    <p>{{ .Site.Params.description | markdownify }}</p>
</section>
<hr />
<section id="writing">
    <main class="post-list">
        {{ range first 20 (where .Site.RegularPages "Section" "posts") }}
        <article class="post-item">
            <div class="post-title">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
            <div class="meta">
                <time datetime="{{ .PublishDate }}" itemprop="datePublished">{{ .Date.Format "2006-01-02" }}</time>
                <div class="post-tags">
                    {{ range .Page.Params.tags }}
                    {{ $tagname := . }} 

                    {{ with $.Site.GetPage (printf "/%s/%s" "tags" $tagname) }}
                        <a href="{{ .RelPermalink }}">{{ $tagname }}</a>
                    {{ end }}

                    {{ end }}
                </div>
            </div>
        </article>
        {{ end }}
    </main>
</section>
<hr />
<section id="tags" class="tag-list">
    {{ range .Site.Taxonomies.tags}}
    <span class="tag"
        ><a href="{{ .Page.RelPermalink }}"><b># {{ .Page.Title }}</b>[{{ .Count }}]</a></span
    >
    {{ end }}
</section>

{{ end }}
