{{ define "main" }}

<main>
    <span class="tag-name">{{ lower .Title }}</span>
    <hr>
    <section>
        {{ range .Data.Pages.GroupByDate "2006" }}
        <h3 class="year-index">{{ .Key }}</h3>
        <ul class="post-list">
            {{ range .Pages }}
            <li class="post-item">
                <div class="meta">
                    <time datetime="{{ .PublishDate }}" itemprop="datePublished">{{ .Date.Format "2006-01-02" }}</time>
                </div>
                <span><a href="{{ .Permalink }}">{{ .Title }}</a></span>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </section>
</main>

{{ end }}